<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <div class="product-list">
        {{#each products}}
        <div class="product-item">
            <img src="{{this.imageUrl}}" alt="{{this.name}}">
            <h3>{{this.name}}</h3>
            <p>Precio: ${{this.price}}</p>
            <form action="/cart/add/{{this._id}}" method="post">
                <button type="submit">Adñadir al carrito</button>
            </form>
        </div>
        {{/each}}
    </div>
</body>
</html>
